.active {
  font-family: times; }
  .active ul {
    font-weight: bold; }
    .active ul li {
      font-weight: bold; }
      .active ul li a {
        font-weight: bold; }

html {
  background-color: grey; }
