html {
  font-family: century gothic, monotype corsica;
  color: white;
  background-color: #03346f; }

body {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

h1 {
  font: 26px century gothic, monotype corsica, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px; }

h2 {
  font: 20px century gothic, monotype corsica, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px; }

h3 {
  font: 20px bold century gothic, monotype corsica, sans-serif;
  color: white; }

#wrap {
  width: 100%;
  height: 900px; }

#page {
  padding: 20px;
  width: 960px;
  margin: auto;
  background-image: url("/image/bg.jpg"); }

#bgpusher {
  width: 960px;
  height: 1000px; }

#header {
  float: left;
  width: 100%;
  height: 110px; }

#logo {
  float: left;
  width: 259px;
  height: 83px; }
  #logo a {
    color: #03346f; }
    #logo a:hover {
      color: #03346f; }
    #logo a:visited {
      color: #03346f; }

#title {
  float: left;
  margin: 0 30px 0 30px;
  width: 600px;
  height: 50px; 
  }
  
 #titleinside{
  float: left;
  margin: 0 30px 0 0px;
  width: 600px;
  height: 50px; 
  }

  
#accountfunctions {
  float: right;
  height: 20px;
  width: 150px;
  padding: 10px;
  background-color: #0066de;
  list-style-type: none; }
  #accountfunctions ul {
    display: inline;
    list-style-type: none; }
  #accountfunctions li {
    display: inline; }
  #accountfunctions a {
    color: white; }
    #accountfunctions a:hover {
      color: yellow; }
    #accountfunctions a:visited {
      color: #FFFFFF; }

#mainnav {
  float: left;
  padding: 10px;
  background-color: #0066de;
  list-style-type: none;
  clear: both; }
  #mainnav ul {
    list-style-type: none; }
  #mainnav a {
    color: white;
    text-decoration: none; }
    #mainnav a:hover {
      color: yellow; }
    #mainnav a:visited {
      color: #FFFFFF; }

.active {
  font-weight: bold; }
  .active ul {
    font-weight: bold; }
    .active ul li {
      font-weight: bold; }
      .active ul li a {
        font-weight: bold; }

#posts {
  float: left;
  padding: 20px;
  margin: 0 30px 30px 30px;
  width: 400px;
  background-color: #0066de; }
  #posts ul {
    list-style-type: none; }
  #posts a {
    text-decoration: none;
    color: purple; }
    #posts a:visited {
      color: purple; }
    #posts a:hover {
      color: yellow; }

	  
#myposts {
  float: left;
  padding: 20px;
  margin: 0px 30px 30px 0px;
  width: 400px;
  background-color: #888888; }
  #posts ul {
    list-style-type: none; }
  #posts a {
    text-decoration: none;
    color: purple; }
    #posts a:visited {
      color: purple; }
    #posts a:hover {
      color: yellow; }

	  
.solid {
  opacity: 1.0; }

.postsinside {
  margin-top: -20px;
  float: left;
  clear: both; }

.content {
  width: 600px;
  margin: 0 30px 0 150px; }
  .content a {
    color: yellow; }
    .content a:visited {
      color: grey; }
    .content a:hover {
      color: white; }

.clear {
  clear: both; }

.bgpusher {
  height: 865px; }
  
.error { 
	color: red;}
